.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #ececec;
  border-bottom: 1px solid #ddd;

}

.logo {
  height: 80px;
  margin-right: 15px;
  border-radius: 16px;

}

.logo-buscador {
  display: flex;
  align-items: center;
  gap: 50px;
}

.buscador input {
  padding: 7px 20px;
  border: 1px solid #bbb;
  border-radius: 4px;
  width: 275px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.8); /* sombra ligera moderna */
  margin: 20px auto;

}

.iconos-usuario {
  display: flex;
  align-items: center;
  gap: 80px;
  font-size: 24px;
  color: #333;
}

.carrito, .perfil {
  cursor: pointer;
}

.total {
  font-weight: 600;
  margin-left: 5px;
  font-size: 18px;
}
