.buscador-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.buscador-container input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
}

.buscador-container button {
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buscador-container button:hover {
  background-color: #0055aa;
}
